<html>

<body>



	<input type="text" disabled >

	<div class="d-flex justify-content-center">
		<div class="row">
			<button type ="button" class="btn btn-secondary">7</button>
			<button type ="button" class="btn btn-secondary" > 8 </button>
			<button type ="button" class="btn btn-secondary" > 9 </button>
			<button type ="button" class="btn btn-danger" > + </button>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div class="row">
			<button type ="button" class="btn btn-secondary" > 4 </button>
			<button type ="button" class="btn btn-secondary" > 5 </button>
			<button type ="button" class="btn btn-secondary" > 6 </button>
			<button type ="button" class="btn btn-danger" > - </button>
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div class="row">
			<button type ="button" class="btn btn-secondary" > 1 </button>
			<button type ="button" class="btn btn-secondary" > 2 </button>
			<button type ="button" class="btn btn-secondary" > 3 </button>
			<button type ="button" class="btn btn-danger" > * </button>
		</div>
	</div>

	<div class="d-flex justify-content-center">

		<div class="row">
			<button type ="button" class="btn btn-secondary" > . </button>
			<button type ="button" class="btn btn-secondary" > 0 </button>
			<button type ="button" class="btn btn-danger" > % </button>
			<button type ="button" class="btn btn-danger" > / </button>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<div class="row">
			<div class="col"> <button type ="button" class="btn btn-primary"> CE </button></div>
			<div class="col"> <button type ="button" class="btn btn-success" > = </button></div>
		</div>



	</div>





	<app-log> </app-log>



</body>

</html>